body
{
background-color:#d0e4fe;
background-image:url('img2.png');
}

textarea
{
color: white;
border-color:white;
border-style:solid;
border-width:15px
font-style:italic;
font-size: 20pt
font-family:"Helvetica Neue", Helvetica, sans-serif; 
background-color: transparent	
}

