body
{
	background-color: black;
	background :url('../images/jeansB.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

textarea
{
color: black;
border-color:white;
border-style:solid;
border-width:15px
font-style:italic;
font-size: 20pt
font-family:"Helvetica Neue", Helvetica, sans-serif; 
background-color: transparent
}


.greenSolid {
	-moz-box-shadow:inset 1px 5px 15px 4px #caefab;
	-webkit-box-shadow:inset 1px 5px 15px 4px #caefab;
	box-shadow:inset 1px 5px 15px 4px #caefab;
	background-color:#77d42a;
	-moz-border-radius:21px;
	-webkit-border-radius:21px;
	border-radius:21px;
	border:3px solid #268a16;
	display:inline-block;
	color:#306108;
	font-family:arial;
	font-size:22px;
	font-weight:bold;
	padding:14px 36px;
	text-decoration:none;
	text-shadow:1px 0px 17px #aade7c;
}

.greenSolid:hover {
	background-color:#5cb811;
}


.greenSolid:active {
	position:relative;
	top:1px;
}