<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ShareChik</display-name>
  <welcome-file-list>
  	<welcome-file>ShareChik.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  
  
  
<servlet>
    <servlet-name>ChikServlet</servlet-name>
    <jsp-file>/ShareChik.jsp</jsp-file>
</servlet>

<servlet-mapping>
    <servlet-name>ChikServlet</servlet-name>
    <url-pattern>/ShareChik/</url-pattern>
</servlet-mapping>
  
  



  
<servlet>
    <servlet-name>QRServlet</servlet-name>
    <jsp-file>/qrGen.jsp</jsp-file>
</servlet>

<servlet-mapping>
    <servlet-name>QRServlet</servlet-name>
    <url-pattern>/qrGen/</url-pattern>
</servlet-mapping>
  




  
<servlet>
    <servlet-name>BitServlet</servlet-name>
    <jsp-file>/myBitly.jsp</jsp-file>
</servlet>

<servlet-mapping>
    <servlet-name>BitServlet</servlet-name>
    <url-pattern>/myBitly/</url-pattern>
</servlet-mapping>
  




  
<servlet>
    <servlet-name>twitServlet</servlet-name>
    <jsp-file>/twitterShare.jsp</jsp-file>
</servlet>

<servlet-mapping>
    <servlet-name>twitServlet</servlet-name>
    <url-pattern>/twitterShare/</url-pattern>
</servlet-mapping>
  


  
</web-app>